@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Rollen</h1>
<form class="row row-cols-lg-auto g-3 align-items-center" method="post" asp-action="AddRole">
    <div class="col-12 form-floating">
        <input type="text" name="roleName" class="form-control" id="roleName" placeholder="Role name">
        <label class="control-label" for="roleName">Naam van rol</label>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Voeg toe</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>