<div class="container text-okok-dark py-5">
    <h1>Hoe meld ik mij aan​?</h1>
    <div class="col-lg-8">
        <p style="font-size: large">
            Om een account aan te maken moet je je eerst aanmelden voor een Intake gesprek. 
            Dit doe je via de homepagina, echter heb je wel een doorverwijzing nodig van je huisarts. 
            Bij het intakegesprek wordt vervolgens een account gemaakt voor de cliënt en eventueel ook de ouder/verzorger. 
            De orthopedagoog stelt bij de aanmelding alles behalve het wachtwoord in, deze kunnen de eigenaars zelf instellen.    
        </p>
    </div>
</div>

<div class="container-fluid bg-secondary">
    <div class="container text-white py-5">
        <h1>Hoe bereid je je voor op dat spannende eerste gesprek​?</h1>
        <div class="col-lg-8">
            <p style="font-size: large">
                 Wanneer je je hebt aangemeld bij de praktijk ga je eerst op intakegesprek voordat het programma begint. 
                 Je kiest samen met je ouders een orthopedagoog uit en een tijd uit wat jouw het beste uitkomt. 
                 Als je 16 jaar of ouder bent kan je zelf doen. 
                <br /><br />
                Tijdens het gesprek wordt er aan je ouders eerst gevraagd waarom je hulp nodig hebt. 
                En als je 16 jaar of ouder bent kunnen er ook wat vragen aan jou gesteld worden. 
                Dus het is wel handig om hierover na te denken voordat je naar het gesprek gaat. 
                Daarnaast hoef je eigenlijk niet zoveel te doen, de rest gaat allemaal vanzelf tijdens het gesprek. 
                Na afloop zal de orthopedagoog een advies geven. 
                En als de orthopedagoog dit nodig vindt kan hij/zij nog een vervolgafspraak maken. 
            </p>
        </div>
    </div>
</div>

<div class="container text-okok-dark py-5">
    <h1>Hoe kan ik chatten met een hulpverlener?</h1>
    <div class="col-lg-8">
        <p style="font-size: large">
            Vanuit de profielpagina van elke hulpverlener is het mogelijk om een chat te starten. 
            Via deze chat kun je contact opnemen met jouw hulpverlener als je vragen hebt die betrekking hebben tot jouw behandeling. 
            Ook kan je hier aanvragen om deel te nemen aan een groepschat. 
            Als je dit al hebt besproken met jouw hulpverlener zal je automatisch deel uitmaken van een of meerdere groepsgesprekken.     
        </p>
    </div>
</div>

<div class="container-fluid bg-secondary">
    <div class="container text-white py-5">
        <h1>Klachtenprocedure</h1>
        <h3>Waar kan ik terecht bij ontevreden gedrag?</h3>
        <div class="col-lg-8">
            <p style="font-size: large">Als je niet tevreden bent met de manier waarop de hulpverlener met jou of zelfs je kind omgaat kunt u een melding maken via het klachtenformulier. 
                De klachten die hier binnenkomen worden zorgvuldig bekeken en geanalyseerd. 
                Hier kan, op basis van de hoeveelheid klachten, best wat tijd overheen gaan. 
                Mocht de klacht spoed hebben en met spoed moeten worden afgehandeld, neem dan contact op via ons spoedhulpformulier. 
                De klachten die hier binnenkomen hebben een nummer 1 prioriteit en worden dus ook aanzienlijk sneller verwerkt.
            <br /> 
            <br /> 
            <p style="font-size: large">
                Na de analyse van de klachten worden er gesprekken gevoerd met beide partijen. 
                Dit alles doen we om ervoor te zorgen dat het zo netjes en spoedig mogelijk wordt opgelost. 
                Voor vrijwel alle klachten wordt er geprobeerd om het conflict intern op te lossen. 
                Mocht dit nodig zijn en er sprake zijn van misbruik of iets dergelijks, wordt er direct contact opgenomen met een externe partij. 
            </p>
        </div>
    </div>
</div>