@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-index py-5 d-flex align-content-center bg-okok-purple text-wrap">
    <div class="container d-flex align-content-center">
        <div class="row m-0 p-0 d-flex align-items-center">
            <div class="col-lg-6 m-0 p-0 text-white">
                <h1>
                    De applicatie voor orthopedagogen en patiënten
                </h1>
                <h2>
                    Hier komt de ondertitel
                </h2>
            </div>
            <div class="col-lg-6 m-0 p-0">
                <div class="d-flex">
                    <img class="img-fluid" alt="" src="~/images/doctor-with-board.svg"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row m-0 p-0 text-okok-black">
        <h1>Kennismaking</h1>

    </div>
</div>
