<div class="container text-okok-dark py-5">
    <h1>Over ons</h1>
    <div class="col-lg-8">
        <p style="font-size: large">Wij als Zorgmaatschap Den Haag richten ons op helpen van kinderen met problemen zoals ADHD, ADD en faalangst. 
            Een hulpverlener naar keuze zal met u kind in gesprek gaan en hem of haar verder helpen met verdere problemen. 
            Er is keuze uit de beste hulpverleners met allerlei verschillende specialismen. 
            Zij zullen er alles aan doen om uw kind op een rustige en respectvolle manier te helpen om zo goed mogelijk om te gaan met zijn/haar probleem in de praktijk. 
            In tegenstelling tot andere praktijken zullen onze hulpverleners bereid zijn naast de afspraken ook klaar te staan voor uw kind.
        <br /> 
        <br /> 
        <p style="font-size: large">Onze eerste kernwaarde van de praktijk is welzijn en gezondheid. Daarnaast is privacy ook zeer belangrijk voor onze praktijk. 
            We zullen bijvoorbeeld niet zomaar gegevens delen met de huisarts of andere derde partijen zonder toestemming van u en/of uw kind.
        </p>
    </div>
</div>

<div class="container-fluid bg-secondary">
    <div class="container text-white py-5">
        <h1>Een introductie</h1>
        <div class="col-lg-8">
            <p style="font-size: large">We begrijpen dat u als ouder zijnde zich zorgen maakt over het welzijn van uw kind en/of hoe uw kind presteert op school met een aandoening. 
                Daarom kunnen wij inzien dat het belangrijk is om de juiste hulpverlener uit te kiezen. Bij de organisatie OkOk zullen hulpverleners uw kind proberen te helpen met datgene waar uw kind last van heeft. 
                Ook heeft de organisatie OkOk een screeningsproces waarbij er wordt gekeken of de hulpverleners in staat zijn om uw kind te helpen. 
                We begrijpen dat de gegevens die benodigd zijn voor onze dienstverlening erg gevoelig zijn. 
                Daarom garanderen we u dat er zorgvuldig wordt omgegaan met de gegevens van onze cliënten (klik hier voor meer informatie rond de privacyrichtlijnen).
            <br /> 
            <br /> 
                De praktijk OkOk is in staat hulpverleners uit te zenden die gespecialiseerd zijn om het soort aandoening van uw kind te behandelen. 
                We hebben bijvoorbeeld hulpverleners beschikbaar die gespecialiseerd zijn in de aandoening AD(H)D, Autisme en verschillende angststoornissen.
                <br /> <br />
                De aanmeldingsprocedure voor ouders gaat als volgt:
                <br />&nbsp; &nbsp; &nbsp;   1. Als ouder kan je een account aanmaken. 
                <br />&nbsp; &nbsp; &nbsp;   2. Daarna is het mogelijk om uw kind te koppelen aan uw account.
            </p>
        </div>
    </div>
</div>