@page
@{

    ChatApplicationUser user = ViewBag.User as ChatApplicationUser ;

    string un = user.UserName as string ;
    string uid = user.Id as string ;
    string gn = ViewBag.GroupName as string ;
    string gid = ViewBag.GroupId as string ;
    List<Message> messages = ViewBag.Messages as List<Message> ;
    List<ChatApplicationUser> users = ViewBag.Users as List<ChatApplicationUser> ;
}
    <div>
        <a asp-action="Chats">Terug naar chatlijst</a>
    </div>
    <p>
        U praat nu met: @gn
    </p>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <ul id="messagesList" class="list-group p-5">
                    @foreach(Message message in messages){
                        @await Html.PartialAsync("MessagePartial", message);
                    }
                </ul>
            </div>
        </div>
        <div class="container-fluid row d-flex justify-content-around m-0">
            <div class="row">
                <div class="col-4"><input  value='@un' type="hidden" id="userInput" /></div>
                <div class="col-4"><input  value='@uid' type="hidden" id="userIdInput" /></div>
                <div class="col-4"><input  value='@gn' type="hidden" id="targetInput" /></div>
                <div class="col-4"><input  value='@gid' type="hidden" id="targetIdInput" /></div>
            </div>
            <div class="row">
                <div class="col-10">
                    <label class="visually-hidden" for="messageInput">Bericht invoer</label>
                    <input type="text" class="form-control" id="messageInput" placeholder="Typ uw bericht">
                </div>
                <div class="col-2 d-flex justify-content-around">
                    <input class="btn btn-primary" type="button" id="sendButton" value="Verstuur" />
                </div>
            </div>
        </div>
    </div>

    <div class= "modal active">
        <div class="modal-body">
        </div>
    </div>  

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<style>
    .list-group{
        max-height: 300px;
        margin-bottom: 10px;
        overflow:scroll;
        
        -webkit-overflow-scrolling: touch;
    }
</style>

<script>

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var user = document.getElementById("userInput").value;
        var message = document.getElementById("messageInput").value;
        var receiver = document.getElementById("targetInput").value;
        var receiverId = document.getElementById("targetIdInput").value;
        connection.invoke("SendGroupMessage", user, receiver ,message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
        const url ="/Message/GroupMessageCreate"
        const data = {"contentstring":message, "receiver":receiverId, "sender":user}
        const header = {
            method: "POST",
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)      
        }
        fetch(url, header).then(r => {
            if(r.status != 201)
                throw "Status: " + r.status;
            else console.log(r)
        }).catch(e=>console.log(e))
    });

    function getNameByUsername(username){
        var l = '@ViewBag.users'
        var list=JSON.parse(l.replace(/&quot;/g,'"'))
        for (var i = 0; i < list.length; i++){
            if (username === list[i].UserName) return list[i].FirstName;
        }
        return "Not Found"
    }

    window.onload=()=>{
        var element = document.getElementById("messagesList");
        element.scrollTop = element.scrollHeight;
        connection.on("ReceiveGroupMessage", function (username, message){
            var li = document.createElement("li");
            var p = document.createElement("p");
            li.appendChild(p);
            var button = document.createElement("button");
            li.appendChild(button);
            var i = document.createElement("i");
            button.appendChild(i);

            var naam = getNameByUsername(username)

            p.textContent = `${naam} zei om @DateTime.Now: "${message}" `;
            li.classList.add("d-flex","align-items-center","justify-content-between");
            p.classList.add("list-group-item","m-2","w-75");
            button.classList.add("report","flex-end","align-items-center","btn","text-primary");
            i.classList.add("fa-solid","fa-triangle-exclamation");

            document.getElementById("messagesList").appendChild(li);
            element.scrollTop = element.scrollHeight;
            
        });


    }
    connection.start().then(res => {
        document.getElementById("sendButton").disabled = false;
        connection.invoke("JoinGroup", "@gn")
            .catch(err => {
                console.log("connection with group failed")
                console.log(err);
            });

    }).catch(err => {
                console.log("connection with group failed")
                console.log(err);
            });


    function report(id) {
        var url = "/Message/Report/"+id;
        fetch(url).then(r => {
            if(r.status != 201)
                throw "Status: " + r.status;
            else console.log(r)
        }).catch(e=>console.log(e))
    }
    
</script>