@model ClientApplicationUser
<a class="btn btn-primary" href="/guardian/index" >Terug</a>
<h3>@Model.FirstName @Model.LastName</h3>
@if(Model == null){
    <div>Geen Client gevonden</div>
}
else{
    @if(ViewData["SortedMessages"] == null){
        <div>Geen berichten gevonden</div>
    }
    else if(!Model.OldEnough){    
        <table class="table">
        <thead>
            <tr>
                <th>
                    Datum
                </th>
                <th>
                    Aantal berichten
                </th>
            </tr> 
        </thead>
@foreach (var item in Model.Received.GroupBy(m => m.DateTime.Date).Select(g => new{dag = g.Key, aantal = g.Count()}).ToList() )
{
        <tbody>
            <tr>
                <td>
                    @item.dag.ToString().Split().First()
                </td>
                <td>
                    @item.aantal
                </td>
            </tr>
        </tbody>
}
    </table>
    }
    else{
        <h3>Oops er ging iets mis</h3>
        <p>Dit kind is ouder dan 16, u heeft geen rechten om de frequentie te bekijken</p>
    }
    
}
