/* Fonts */
@import url('https://assets.behindthework.nl/fonts/arminsoft/stylesheet.css');

/* Variables */
:root {
  --okpurple: #B26CA1;
  --okblue: #24869E;
  --okwhite: #ffffff;
  --okdark: #333333;
}

/* Basic */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Armin Soft';
  font-weight: 600;
}

p,
a {
  font-family: 'Armin Soft';
}

body {
  margin: 0px 0px 60px 0px;
}

/* Bootstrap Overrides */
.btn {
  font-family: 'Armin Soft' !important;
  font-weight: 500 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Solid Buttons */
.btn-primary {
  background-color: var(--okpurple) !important;
  color: white !important;
  border: none !important;
}

.btn-primary.dark {
  background-color: var(--okpurple) !important;
  color: var(--okdark) !important;
  border: none !important;
}

.btn-secondary {
  background-color: var(--okblue) !important;
  color: white !important;
  border: none !important;
}
.btn-secondary.dark {
  background-color: var(--okblue) !important;
  color: var(--okdark) !important;
  border: none !important;
}

.btn-light {
  background-color: white !important;
  color: var(--okpurple) !important;
  border: none !important;
}

.btn-light.secondary {
  background-color: white !important;
  color: var(--okblue) !important;
  border: none !important;
}

.btn-dark {
  background-color: var(--okdark) !important;
  border: none !important;
}

/* Outline Buttons */
.btn-outline-primary {
  border-color: var(--okpurple) !important;
  color:var(--okpurple) !important;
}

.btn-outline-primary:hover {
  background-color: var(--okpurple) !important;
  color: white !important;
}

.btn-outline-secondary {
  border-color: var(--okblue) !important;
  color:var(--okblue) !important;
}

.btn-outline-secondary:hover {
  background-color: var(--okblue) !important;
  color: white !important;
}

.btn-outline-light {
  border-color: white !important;
  color:white !important;
}

.btn-outline-light:hover {
  background-color: white !important;
  color: var(--okpurple) !important;
}

.btn-outline-light.secondary {
  border-color: white !important;
  color:white !important;
}

.btn-outline-light.secondary:hover {
  background-color: white !important;
  color: var(--okblue) !important;
}

.btn-outline-dark {
  border-color: var(--okdark) !important;
  color:var(--okdark) !important;
}

.btn-outline-dark:hover {
  background-color: var(--okdark) !important;
  color: white !important;
}

/*////*/

.bg-okok-purple {
  background-color: #B26CA1;
}

.bg-okok-blue {
  background-color: #24869E;
}

.bg-okok-dark {
  background-color: #333333;
}

.bg-okok-light {
  background-color: #E6E6E6;
}

.hero-index h1{
  font-size: 3rem;
}

.hero-index h2{
  font-size: 1.5rem;
  font-weight: 400;
}

.hero-index img {
  width: 100%;
}

.text-okok-purple {
  color: #B26CA1;
}

.text-okok-blue {
  color: #24869E;
}

.text-okok-dark {
  color: #333333;
}

.text-okok-light {
  color: #E6E6E6;
}

.okok-rounded {
  border-radius: 4.6px !important;
}