@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if(await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Client"))
    {
        <li class="nav-item">
            <a asp-controller="Client" asp-action="Index" title="Dashboard" id="dashboard" class="nav-link btn btn-outline-light"><i class="fa-regular fa-grid-2 me-2"></i>Dashboard</a>
        </li>
    }
    @if(await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Guardian"))
    {
        <li class="nav-item">
            <a asp-controller="Guardian" asp-action="Index" title="Dashboard" id="dashboard" class="nav-link btn btn-outline-light"><i class="fa-regular fa-grid-2 me-2"></i>Dashboard</a>
        </li>
    }
    @if(await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Doctor"))
    {
        <li class="nav-item">
            <a asp-controller="Doctor" asp-action="Index" title="Dashboard" id="dashboard" class="nav-link btn btn-outline-light"><i class="fa-regular fa-grid-2 me-2"></i>Dashboard</a>
        </li>
    }
    @if(await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
    {
        <li class="nav-item">
            <a asp-controller="Admin" asp-action="Index" title="Dashboard" id="dashboard" class="nav-link btn btn-outline-light"><i class="fa-regular fa-grid-2 me-2"></i>Dashboard</a>
        </li>
    }
    
}
else
{
    <li class="nav-item">
        <a class="nav-link btn btn-outline-light okok-rounded" id="login" asp-area="Identity" asp-page="/Account/Login">Log in</a>
    </li>
    <li class="nav-item ms-lg-2 my-2 my-lg-0">
        <a class="nav-link btn btn-light okok-rounded" id="register" asp-area="Identity" asp-page="/Account/Register">Aanmelden</a>
    </li>
}
</ul>
